$primary-text-color: #fff;
$secondary-text-color: #DDD;
$tertiary-text-color: #B50808;

$primary-bg-color: #070707;
$secondary-bg-color: #0A0A0A;
$tertiary-bg-color: #101010;
$quaternary-bg-color: #1D1D1D;

$primary-circle-color: #6A6A6A;
$secondary-circle-color: #B50808;

$primary-btn-color: #B50808;
$seconday-btn-color: #D92929;